
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6 col-sm-3">
                    <a href="#" class="logo">
                    	<%= image_tag('logo.png') %>
                      <!--   <img src="images/logo.png" alt=""> -->
                    </a>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <div class="menu">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse no-box" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#banner">Home</a></li>
                                        <li><a href="#service">Act</a></li>
                                        <li><a href="#feature">HowItWorks</a></li>
                                     
                                        <li><a href="#subscribe">Feedback</a></li>
                                    </ul>
                                  
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-3">
                    <ul class="social-info">
                        <li><a href="http://web.facebook.com/fundpaddy"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://twitter.com/fundpaddy"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="plus.google.com/fundpaddy"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    


    <section id="banner" class="wow fadeInUp">
        <div class="container">
            
            <div class="row">
            <div class="col-sm-3 col-xs-3"> </div>
            <div class="col-sm-6 col-xs-6">
            <h3 style="color:red"> You Defaulted (Every Action Has Consequences!) </h3>
            <hr/>
            <h4>Steps to Take</h4>
            <p> The fundTeam does not take defaulters lightly. </p>
            <p> <i class="fa fa-check-square"></i>  Send a mail to help@fundpaddy.com or help.fundpaddy@gmail.com using the email used to register on the platform explaining your case and why your account should be unblocked </p><br/>
             <p><i class="fa fa-check-square"></i> Start a live chat with our 24/7 support team using the "Chat" service at the button right of this page. </p><br/>
             <i class="fa fa-check-square"></i> Best of luck :)
            </div>
            </div>
            </div>
        </div>
    </section>




    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay=".8s">
                    <h2 class="title">How FundPaddy Works</h2>

                    <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-paint-brush"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Become a Member</h4>
                                <p>Every success story begins with an action, and for fundpaddy, that action is to "Register". Joining fundpaddy is simple. you can be up and running in a few minutes</p>
                            </div>
                        </div>
                    </div>

                    <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-qrcode"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Select a Donation Plan</h4>
                                <p>Choose a comfortable donation plan of your choice from our four (4) distinct donation plans that suits your social hierarchy</p>
                            </div>
                        </div>
                    </div>

                    <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-recycle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Donate</h4>
                                <p>After selecting a donation plan, you will be matched to make payment of your selected donation amount within (1-72 hours). which must be completed within 24 hours.</p>
                            </div>
                        </div>
                    </div>

                       <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-qrcode"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Earn</h4>
                                <p>Within (1-72) hours after making payment, you will be paired with two other fundPaddies who will make payment of your specified donation amount to you. making up 100% reward on your initial donation. i.e. Donate $20, get $40, etc.</p>
                            </div>
                        </div>
                    </div>

                       <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-qrcode"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Referral Earnings </h4>
                                <p>fundPaddy will reward you with various earning plans according to your referral activity. Invite 10 new members and get rewarded with a free Silver plan. Invite 20 new members and get a free Gold earning plan, etc. :)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay=".8s">
                    <div class="block">

                   		 <%= image_tag('featured-app.png', class: 'img-responsive') %>
                       <!--  <img class="img-responsive" src="images/featured-app.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section id="subscribe" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown" data-wow-delay=".8s">
                    <div class="block">
                        <div class="title text-center">
                            <h2>Share your views & stay Connected</h2>
                            <p>Send a message, suggestion or idea to the fundPaddy general messageBoard :)</p>
                        </div>
                        
                        
<!-- 
                        <form class="form-inline text-center col-sm-12 col-xs-12" role="form"> -->
                        <%= form_for @message, :url=> {controller: :static_pages, action: :send_message}, :html=> {class: "form-inline text-center col-sm-12 col-xs-12"}  do |f| %>

                            <div class="row">
                            <div class="col-sm-4 col-lg-4">
                            </div>
                            <div class="col-sm-4 col-lg-4">
                            <div class="form-group">

                                <%= f.text_field :email, placeholder: 'Your email',  id: 'signup-form', required: true %>
                               <!--  <input type="text" placeholder="your email" class="form-control" id="signup-form" >
                                 -->
                                
                            </div> <hr/>
                             <div class="form-group">

                                <%= f.text_area :content, placeholder: "Enter your thoughts here", class: 'form-control', id: 'thoughts', required: true %>
                          <!--       <textarea type="text" name="thoughts" placeholder="Enter your thougts here :)" class="form-control" id="thoughts"> </textarea>
                                 -->
                                
                            </div> <hr/>

                           
                            <%= f.submit "Send", class: 'btn btn-default btn-block btn-signup' %>
                       <!--      <a href="" type="submit" class="btn btn-default btn-block btn-signup">
                                 <i class="fa fa-paper-plane"></i>
                            
                            </a> -->
                          
                            </div>
                        <% end %>
                    <!--     </form> -->
                    </div>
                    

                </div>
            </div>
        </div>
    </section>

    <footer class="wow fadeInUp" data-wow-delay=".8s">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                        <a class="footer-logo"href="#">

                         <%= image_tag('footer-logo.png', class: 'img-responsive') %>
                           <!--  <img class="img-responsive" src="images/footer-logo.png" alt=""> -->
                        </a>
                    <p>Copyright © 2017 fundPaddy. All rights reserved. </p>
                    
                </div>
            </div>
        </div>
    </footer>