 <% provide(:page_title, "Dashboard") %>


<!-- content --> 
<div class="row">
  <div class="col-xs-12">
    <div class="card card-banner card-chart card-green no-br">
      <div class="card-header">
        <div class="card-title">
          <div class="title">Office Highlights</div>
        </div>
        <ul class="card-action">
          <li>
            <a href="/">
              <i class="fa fa-refresh"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="ct-chart-sale"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="card card-banner card-green-light">
  <div class="card-body">
    <i class="icon fa fa-tasks fa-4x"></i>
    <div class="content">
      <div class="title">Total Donations</div>
      <div class="value"><span class="sign"></span><%=current_member.donations.count%></div>
    </div>
  </div>
</a>

  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="card card-banner card-blue-light">
  <div class="card-body">
    <i class="icon fa fa-money fa-4x"></i>
    <div class="content">
      <div class="title">Earnings</div>
      <div class="value"><span class="sign"></span><%=total_earnings(current_member)%></div>
    </div>
  </div>
</a>

  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="card card-banner card-yellow-light">
  <div class="card-body">
    <i class="icon fa fa-user-plus fa-4x"></i>
    <div class="content">
      <div class="title">Referrals</div>
      <div class="value"><span class="sign"></span>0</div>
    </div>
  </div>
</a>

  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card card-mini">
      <div class="card-header">
        <div class="card-title">Most Recent Donations</div>
        <ul class="card-action">
          <li>
            <a href="/">
              <i class="fa fa-refresh"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body no-padding table-responsive">
        <table class="table card-table">
          <thead>

            <tr>
              <th>Plan</th>
              <th class="right">Amount</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>

         <% current_member.donations.each do |donation| %>
            <tr>
              <td><%=donation.plan%></td>
              <td class="right"><%=donation.amount%></td>
              <td><span class="badge badge-<%=get_badge_status(donation.status)%> badge-icon"><i class="fa fa-check" aria-hidden="true"></i><span><%=donation.status%></span></span></td>
            </tr>
           <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card card-mini">
      <div class="card-header">
        <div class="card-title">Most Recent Withdrawals</div>
        <ul class="card-action">
          <li>
            <a href="/">
              <i class="fa fa-refresh"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body no-padding table-responsive">
        <table class="table card-table">
          <thead>

            <tr>
              <th>Plan</th>
              <th class="right">Earned</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>

         <% current_member.withdrawals.each do |withdrawal| %>
            <tr>
              <td><%=withdrawal.plan%></td>
              <td class="right"><%=2 * withdrawal.amount%></td>
              <td><span class="badge badge-<%=get_badge_status(withdrawal.status)%> badge-icon"><i class="fa fa-check" aria-hidden="true"></i><span><%=withdrawal.status%></span></span></td>
            </tr>
           <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
  