
<% provide(:page_title, "Your Donations") %>
<div class="row">

    <% if @donations.empty? %>

    <div class="col-sm-12 col-xs-12">


      <div class="card">
        <div class="card-header">
         <h3>No Donations Yet</h3> <span class="small"> <br/><br/> <i>click (+) on top menu to create donation</i></span> 
        </div>
        <div class="card-body">
          <div class="section">
            <div class="section-title">Kindly create a new Donation by clicking on the (+) Plus Sign on the top Menu or  <a href="<%=new_member_donation_path(current_member)%>"> Click Here </a></i> </div>
            </div></div></div></div>
    <% else %>


    <% @donations.each do |donation| %>

    <div class="col-sm-12 col-xs-12">


      <div class="card">
        <div class="card-header">
         <h3><%=donation.plan%> Plan (<%=donation.amount%>)</h3> <span class="small"> <br/><br/> <i> - Created: <%=time_ago_in_words(donation.created_at)%> ago,</i></span> 
        </div>
        <div class="card-body">
          <div class="section">
            <div class="section-title">Donation Progress <i>(<%=donation.status%>)</i> </div>

        <% if donation.status == 'confirmed' %>

            <%= form_for @withdrawal, :url => {:controller => :withdrawals, :action => :create} do |t| %>

                 <div class="pull-right"><div class="text-right">   
                   <!--      <a href="#" class="btn btn-warning">Redeem (200%)</a> -->
                        <%= t.hidden_field :plan, value: donation.plan %>
                        <%= t.hidden_field :amount, value: donation.amount %>
                        <%= t.hidden_field :status, value: 'waiting' %>
                        <%= t.hidden_field :donation_id, value: donation.id %>
                        <%= t.submit "Redeem(200%)", class: "btn btn-warning" %>

                </div> </div>

             <% end %>
        <% elsif donation.status == 'completed' %>
                   <div class="pull-right"><div class="text-right">   
                        <button class="btn btn-success disabled"><i>Withdrawn</i></button>
                   
                </div> </div>

        <% end %>


            <div class="section-body">
              <div class="<%= get_state_color(donation.status) %>">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="step" class="<%= 'active' if donation.status == 'waiting' %>">
            <a href="#" id="step1-tab" role="tab" data-toggle="" aria-controls="home" aria-expanded="true">
                <div class="icon fa fa-sign-in"></div>
                <div class="heading">
                    <div class="title">Request to Donate</div>
                    <div class="description">waiting to be matched</div>
                </div>
            </a>
        </li>
       <li role="step" class="<%= 'active' if donation.status == 'matched' %>">
            <a href="#" role="tab" id="step2-tab" data-toggle="" aria-controls="profile">
                <div class="icon fa fa-credit-card"></div>
                <div class="heading">
                    <div class="title">Matched Request</div>
                    <div class="description">You have been matched to donate</div>
                </div>
            </a>
        </li>
        <li role="step" class="<%= 'active' if donation.status == 'confirmed' %>">
            <a href="#" role="tab" id="step3-tab" data-toggle="" aria-controls="profile">
                <div class="icon fa fa-check"></div>
                <div class="heading">
                    <div class="title">Payment Confirmed</div>
                    <div class="description">Recipient confirms payment</div>
                </div>
            </a>
        </li>
        <li role="step" class="<%= 'active' if donation.status == 'completed' %>">
            <a href="#" role="tab" id="step4-tab" data-toggle="" aria-controls="profile">
                <div class="icon fa fa-truck "></div>
                <div class="heading">
                    <div class="title">Successfully Withdrawn</div>
                    <div class="description">withdrawn (redeemed)</div>
                </div>
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane <%= 'active' if donation.status == 'waiting' %>" id="step1">
            <b>Step1</b> : <i>You have requested to Donate. Kindly wait to be matched with another participant. Match times may vary. <b> It is important to Log in regularly to check the status of your Donation.</b> </i>
        </div>
        <div role="tabpanel" class="tab-pane  <%= 'active' if donation.status == 'matched' %>" id="step2">
            <b>Step2</b> : <i>You have been matched to make Payment. Kindly obtain recipient details below and complete your donation. Calling or texting recipient can also get you faster confirmation.  <b>Note: </b>"Be polite".</i>



            <% if donation.status == 'matched' %>
                <% recipient = get_recipient_info(donation) %>
    


                <hr/>

                <div class="row"> 

                    <div class="col-sm-6 col-xs-6">
                        <div class="user-info">
                                <%= gravatar_for(recipient)%>
                            <h5><%= recipient.fullname %> <span class="badge badge-<%=get_badge_status(donation.status)%>"> <%= donation.status %> </span></h5>  <br/>
                             <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myDetailsModal">View Details</button>
                           



                            <!-- view details modal -->
                            <!-- Modal -->
                <div class="modal modal-wide " id="myDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myDetailsModalLabel" aria-hidden="true">
                  <div class="modal-dialog ezCustTrans">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myDetailsModalLabel">Recipient Details </h4> <span class="small" style="color:green"> <i> (<b>Note:</b>Donor-Recipient communication is key for a smooth donation process.</i></span>
                      </div>

                     
                          <div class="modal-body">
                        <p class="small"> Find below the Recipient details. Make payment and comfirm. view <a href="#" target="_blank"> terms & conditions</a></p>
                     <div class="row">
                      
                      <%=gravatar_for(recipient) %>


                      <div class="col-md-6">
                    
                          <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">
                                <i class="fa fa-money" aria-hidden="true"> Full Name</i></span>

                                <%= recipient.fullname %>
                          
                          </div>

                      
                           <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">
                                <i class="fa fa-truck" aria-hidden="true"> Amount</i></span>
                                    <%= donation.amount %>
                            </div>

                             <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon1">
                                    <i class="fa fa-bank" aria-hidden="true"> Bank Name</i></span>
                                        <%= recipient.accounts.first.bank_name %>
                            </div>
                             

                           <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">
                                <i class="fa fa-user" aria-hidden="true"> Account Name</i></span>
                                    <%= recipient.accounts.first.acc_name %>
                          </div>
                 

                           <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">
                                <i class="fa fa-shield" aria-hidden="true"> Account Number</i></span>
                                    <%= recipient.accounts.first.acc_no %>
                          </div>


                </div>

                 <div class="col-md-6">
                    <!--  <select class="select2 form-control">
                      <option value="NA">Select Country</option>
                      <option value="NG">Nigeria</option>
                      <option value="SA">South Africa</option>
                      <option value="GH">Ghana</option>
                    </select>
                     -->

                         Email: <span style="color:brown"> <%= recipient.email %> </span> <br/>
                         Phone: <%= recipient.accounts.first.phone %>


        
                    </div>
                    </div>





                          </div>
                          <div class="modal-footer">
                
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                          </div>
                     </div>


          </div>
         </div> 
         </div>
         </div>






                    <div class="col-sm-3 col-xs-6">
                        <div class="user-info">

                        <% if donation.pay_status == "paid" %>
                            <h5>Payment Status: <span class="badge badge-success"> <%= donation.pay_status %> </span> </h5>  <br/>

                        <% else %>
                             <h5>Payment Status: <span class="badge badge-danger"> <%= donation.pay_status %> </span> </h5>  <br/>

                           <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myPaymentModal">I Have Made Payment</button>
                   
                        <% end %>





                            <!-- view details modal -->
                            <!-- Modal -->
                <div class="modal modal-wide " id="myPaymentModal" tabindex="-1" role="dialog" aria-labelledby="myPaymentModalLabel" aria-hidden="true">
                  <div class="modal-dialog ezCustTrans">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myPaymentModalLabel">Payment Details </h4> <span class="small" style="color:green"> <i> (<b>Note:</b>uploading a proof of payment is optional </i></span>
                      </div>


                      <%= form_for :donation, :url => payment_confirmation_path(donation_id: donation.id, pay_status: "paid") do |f| %>

                          <div class="modal-body">
                       
                             <div class="row">
                      
                         
                      <div class="col-md-6">
                         <%=gravatar_for(recipient) %>


                    
                    <h3><%= recipient.fullname %></h3>


                   
                  </div>
                 <div class="col-md-6">
                  <p class="small"> Add Payment Details Below (optional). view <a href="#" target="_blank"> terms & conditions</a></p> <hr/>
                    
                    <!--  <select class="select2 form-control">
                      <option value="NA">Select Country</option>
                      <option value="NG">Nigeria</option>
                      <option value="SA">South Africa</option>
                      <option value="GH">Ghana</option>
                    </select>
                     -->
                     <div class="form-group">
                        <%= f.file_field :pop, placeholder: "Upload Proof (Optional)", class: "form-control" %>
                     </div>
                     <div class="form-group">
                     <%= f.text_area :payment_text, placeholder: "Add comment", class: 'form-control' %>

                     <%= f.hidden_field :pay_status, value: "paid" %>
                     </div>

                 </div>


                </div>





                          </div>
                          <div class="modal-footer">
                                <%= f.submit "Submit", class: "btn btn-info" %>

                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
                          </div>

                          <% end %>
                     </div>
                  </div>
                </div>

                </div>





                    </div>

                </div>
            <% end %>













        </div>
        <div role="tabpanel" class="tab-pane  <%= 'active' if donation.status == 'confirmed' %>" id="step3">
            <b>Step3</b> : <i>Your Donation has been confirmed. You can now receive <b>200%</b> of your initial Donation. Click on the "Redeem Donation" Button to receive your 200%.</i>
        </div>
        <div role="tabpanel" class="tab-pane  <%= 'active' if donation.status == 'completed' %>" id="step4">
            <b>Step4</b> <i>: Successfully Withdrawn. (<b>This donation has been redeemed. You can check progress of withdrawn funds on withdrawals page. Kindly create new donations to earn more </b>)</i>
        </div>
    </div>
</div>
            </div>
          </div>
        </div>
      </div> 
    

  </div>  <% end %> <% end %> </div>