
<% provide(:page_title, "Select Plan") %>

  <div class="row">
    <div class="col-xs-12">
      <div class="card">
  <div class="card-body no-padding">
    <div class="row no-gap">
      <div class="col-md-3 col-sm-6">
        <div class="pricing-table no-border-left">
          <div class="pricing-heading">
            <div class="title">BRONZE</div>
            <div class="price">
              <div class="title">5,000<span class="sign">₦</span></div>
              <div class="subtitle">per donation</div>
            </div>
          </div>
          <div class="pricing-body">
            <ul class="description">
              <li><i class="icon ion-ios-lightbulb"></i> Earn <span class="small">200%</span></li>
              <li><i class="icon ion-ios-chatboxes-outline"></i> <span class="small">Email Notifications</span></li>
            </ul>
          </div>
          <div class="pricing-footer">
            <button type="button" class="btn btn-default btn-success" data-toggle="modal" data-target="#myModal1">Select Plan</button>
          </div>



<!-- Modal -->
<div class="modal modal-wide " id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
  <div class="modal-dialog ezCustTrans">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModal1Label">Acknowledgement</h4>
      </div>

      <%= form_for @donation, url: {action: 'create'}, :html => {class: 'donateForm'} do |f| %>

	      <div class="modal-body">
	    <p class="small"> Please verify that information below is correct (i.e amount and plan) and that you have read the <a href="#" target="_blank">terms & conditions</a> before saving your donation .</p>
	      	 <div class="row">
      
      <div class="col-md-6">
    
      <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-money" aria-hidden="true"></i></span>


      <%= f.text_field :amount, class: 'form-control disabled', 'aria-describedby': 'basic-addon1', value: "5000",  disabled: false, :required => true %>

     <!--  <input type="text" class="form-control" placeholder="08099223047" aria-describedby="basic-addon1" disabled> -->
  
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-shield" aria-hidden="true"></i></span>

         <%= f.text_field :plan, value: 'Bronze', placeholder: "Bronze", class: 'form-control disabled', 'aria-describedby': 'basic-addon1' , disable: false, :required => true %>
      <!-- 
      <input type="text" class="form-control" placeholder="Bank Name" aria-describedby="basic-addon1" value=""> -->
    </div>


   
  </div>
 <div class="col-md-6">
    <!--  <select class="select2 form-control">
      <option value="NA">Select Country</option>
      <option value="NG">Nigeria</option>
      <option value="SA">South Africa</option>
      <option value="GH">Ghana</option>
    </select>
     -->

     <%= f.text_area :comment, class: 'form-control', placeholder: 'Add Comment (Optional)', rows: '3' %>


 </div>


</div>





	      </div>
	      <div class="modal-footer">
	      
	       	<%= f.submit "Save Donation", class: 'btn btn-primary btn-success' %>
	       	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!-- 	        <button type="button" class="btn btn-primary">Save changes</button> -->
	      </div>
      <% end %> 
      <script >
        $(".donateForm").validate();
        $('input').attr('readonly', 'readonly');


      </script>
    </div>
  </div>
</div>



        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pricing-table highlight">
          <div class="pricing-heading">
            <div class="title">SILVER</div>
            <div class="price">
              <div class="title">10,000<span class="sign">₦</span></div>
              <div class="subtitle">per donation</div>
            </div>
          </div>
          <div class="pricing-body">
            <ul class="description">
               <li><i class="icon ion-ios-lightbulb"></i> Earn <span class="small">200%</span></li>
              <li><i class="icon ion-ios-chatboxes-outline"></i> <span class="small">Email Notifications</span></li>
            </ul>
          </div>
          <div class="pricing-footer">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pricing-table">
          <div class="pricing-heading">
            <div class="title">GOLD</div>
            <div class="price">
              <div class="title">20,000<span class="sign">₦</span></div>
              <div class="subtitle">per donation</div>
            </div>
          </div>
          <div class="pricing-body">
            <ul class="description">
              <li><i class="icon ion-ios-lightbulb"></i> Earn <span class="small">200%</span></li>
              <li><i class="icon ion-ios-chatboxes-outline"></i> <span class="small">Email Notifications</span></li>
            </ul>
          </div>

          <div class="pricing-footer">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal3">Buy Now</button>
          </div>
        </div>





<!-- Modal -->
<div class="modal modal-wide " id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
  <div class="modal-dialog ezCustTrans">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModal2Label">Acknowledgement</h4>
      </div>
     
      <%= form_for @donation, url: {action: 'create'} do |f| %>

	      <div class="modal-body">
	    <p class="small"> Please verify that information below is correct (i.e amount and plan) and that you have read the <a href="#" target="_blank">terms & conditions</a> before saving your donation .</p>
	      	 <div class="row">
      
      <div class="col-md-6">
    
      <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-money" aria-hidden="true"></i></span>


      <%= f.text_field :amount, value: "10000", placeholder: "10,000", class: 'form-control disabled', 'aria-describedby': 'basic-addon1', disabled: false, :required => true %>

     <!--  <input type="text" class="form-control" placeholder="08099223047" aria-describedby="basic-addon1" disabled> -->
  
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-shield" aria-hidden="true"></i></span>

         <%= f.text_field :plan, value: 'Silver', placeholder: "Silver", class: 'form-control disabled', 'aria-describedby': 'basic-addon1' , disabled: false, :required => true %>
      <!-- 
      <input type="text" class="form-control" placeholder="Bank Name" aria-describedby="basic-addon1" value=""> -->
    </div>


   
  </div>
 <div class="col-md-6">
    <!--  <select class="select2 form-control">
      <option value="NA">Select Country</option>
      <option value="NG">Nigeria</option>
      <option value="SA">South Africa</option>
      <option value="GH">Ghana</option>
    </select>
     -->

     <%= f.text_area :comment, class: 'form-control', placeholder: 'Add Comment (Optional)', rows: '3' %>


 </div>


</div>





	      </div>
	      <div class="modal-footer">
	      
	       	<%= f.submit "Save Donation", class: 'btn btn-primary btn-success' %>
	       	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!-- 	        <button type="button" class="btn btn-primary">Save changes</button> -->
	      </div>
      <% end %> 

    </div>
  </div>
</div>

      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pricing-table">
          <div class="pricing-heading">
            <div class="title">PLATINUM</div>
            <div class="price">
              <div class="title">50,000<span class="sign">₦</span></div>
              <div class="subtitle">per donation</div>
            </div>
          </div>
          <div class="pricing-body">
            <ul class="description">
             <li><i class="icon ion-ios-lightbulb"></i> Earn <span class="small">200%</span></li>
              <li><i class="icon ion-ios-chatboxes-outline"></i> <span class="small">Email Notifications</span></li>
            </ul>
          </div>
          <div class="pricing-footer">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal4">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal modal-wide " id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal3Label" aria-hidden="true">
  <div class="modal-dialog ezCustTrans">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModal3Label">Acknowledgement</h4>
      </div>
     
      <%= form_for @donation, url: {action: 'create'} do |f| %>

	      <div class="modal-body">
	    <p class="small"> Please verify that information below is correct (i.e amount and plan) and that you have read the <a href="#" target="_blank">terms & conditions</a> before saving your donation .</p>
	      	 <div class="row">
      
      <div class="col-md-6">
    
      <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-money" aria-hidden="true"></i></span>


      <%= f.text_field :amount, value: "20000", placeholder: "20,000", class: 'form-control disabled', 'aria-describedby': 'basic-addon1', disabled: false, :required => true %>

     <!--  <input type="text" class="form-control" placeholder="08099223047" aria-describedby="basic-addon1" disabled> -->
  
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-shield" aria-hidden="true"></i></span>

         <%= f.text_field :plan, value: 'Gold', placeholder: "Gold", class: 'form-control disabled', 'aria-describedby': 'basic-addon1' , disabled: false, :required => true %>
      <!-- 
      <input type="text" class="form-control" placeholder="Bank Name" aria-describedby="basic-addon1" value=""> -->
    </div>


   
  </div>
 <div class="col-md-6">
    <!--  <select class="select2 form-control">
      <option value="NA">Select Country</option>
      <option value="NG">Nigeria</option>
      <option value="SA">South Africa</option>
      <option value="GH">Ghana</option>
    </select>
     -->

     <%= f.text_area :comment, class: 'form-control', placeholder: 'Add Comment (Optional)', rows: '3' %>


 </div>


</div>





	      </div>
	      <div class="modal-footer">
	      
	       	<%= f.submit "Save Donation", class: 'btn btn-primary btn-success' %>
	       	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!-- 	        <button type="button" class="btn btn-primary">Save changes</button> -->
	      </div>
      <% end %> 

    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal modal-wide " id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal4Label" aria-hidden="true">
  <div class="modal-dialog ezCustTrans">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModal4Label">Acknowledgement</h4>
      </div>
     
      <%= form_for @donation, url: {action: 'create'} do |f| %>

	      <div class="modal-body">
	    <p class="small"> Please verify that information below is correct (i.e amount and plan) and that you have read the <a href="#" target="_blank">terms & conditions</a> before saving your donation .</p>
	      	 <div class="row">
      
      <div class="col-md-6">
    
      <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-money" aria-hidden="true"></i></span>


      <%= f.text_field :amount, value: "50000", placeholder: "50,000", class: 'form-control disabled', 'aria-describedby': 'basic-addon1', disabled: false, :required => true %>

     <!--  <input type="text" class="form-control" placeholder="08099223047" aria-describedby="basic-addon1" disabled> -->
  
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-shield" aria-hidden="true"></i></span>

         <%= f.text_field :plan, value: 'Platinum', placeholder: "Platinum", class: 'form-control disabled', 'aria-describedby': 'basic-addon1' , disabled: false, :required => true %>
      <!--  
      <input type="text" class="form-control" placeholder="Bank Name" aria-describedby="basic-addon1" value=""> -->
    </div>


   
  </div>
 <div class="col-md-6">
    <!--  <select class="select2 form-control">
      <option value="NA">Select Country</option>
      <option value="NG">Nigeria</option>
      <option value="SA">South Africa</option>
      <option value="GH">Ghana</option>
    </select>
     -->

     <%= f.text_area :comment, class: 'form-control', placeholder: 'Add Comment (Optional)', rows: '3' %>


 </div>


</div>





	      </div>
	      <div class="modal-footer">
	      
	       	<%= f.submit "Save Donation", class: 'btn btn-primary btn-success' %>
	       	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!-- 	        <button type="button" class="btn btn-primary">Save changes</button> -->
	      </div>
      <% end %> 

    </div>
  </div>
</div>

    </div>
  </div>
