<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> - Official Website</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

         <meta name="keywords" content="Funding, Best peer to peer donation platform, peer-to-peer, donations, make money quick, ponzi scheme, pyramid scheme, best money doubling website, genuine, reliable website, built to last">
        <meta name="description" content="Get 200% on each donation within 72 hours. Fundpaddy is a reliable peer to peer donations platform on steroids. Built to last and built for all.">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <style type="text/css">
            
      .modal.modal-wide{
        overflow: hidden;
      }
      .modal.modal-wide .modal-dialog {
        width: 94%;
      }
      .modal-wide .modal-body {
        overflow-y: auto;
      }

@-webkit-keyframes ezCustTrans {
  0% {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform:  perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    -moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    -ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    opacity: 0;
  }
    68% {
    -webkit-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
    -moz-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
    -ms-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
    transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
    opacity: 0.8;                
    }
  100% {
    -webkit-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
    -moz-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
    -ms-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
    transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
    opacity: 1;
  }
}
@keyframes ezCustTrans {
  0% {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    -moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    -ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    opacity: 0;
  }
  68% {
    -webkit-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
    -moz-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
    -ms-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
    transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
    opacity: 0.8;                
    }
    100% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
    -moz-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
    -ms-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
    transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
    opacity: 1;
  }
}
.ezCustTrans {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  -webkit-animation-name: ezCustTrans;
  animation-name: ezCustTrans;
}          




  </style>
  <body>



<div class="app app-default">

<aside class="app-sidebar" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">Office</span> fundPaddy</a>
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">

       <li class="<%= 'active' if current_page?(office_path) %>">
        <a href="<%=office_path%>">
          <div class="icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard</div>
        </a>
      </li>

      <li class="<%= 'active' if current_page?(office_settings_path) %>">
        <a href="<%=office_settings_path%>">
          <div class="icon">
            <i class="fa fa-gears" aria-hidden="true"></i>
          </div>
          <div class="title">Accounts</div>
        </a>
      </li>




        <li class="dropdown <%= 'active' if current_page?(member_donations_path(current_member)) %>">
        <a href="<%=member_donations_path(current_member)%>" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-cubes" aria-hidden="true"></i>
          </div>
          <div class="title">Donations</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li><a href="<%=new_member_donation_path(current_member)%>" style="color: green; ">New Donation</a></li>
            <li><a href="<%=member_donations_path(current_member)%>" style="color: green;">All Donations</a></li>
          </ul>
        </div>
      </li>


       <li class="<%= 'active' if current_page?(member_withdrawals_path(current_member)) %>">
        <a href="<%=member_withdrawals_path(current_member)%>">
          <div class="icon">
            <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          </div>
          <div class="title">Withdrawals</div>
        </a>
      </li>
<!-- 
        <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-cube" aria-hidden="true"></i>
          </div>
          <div class="title">UI Kits</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> UI Kits</li>
            <li><a href="./uikits/customize.html">Customize</a></li>
            <li><a href="./uikits/components.html">Components</a></li>
            <li><a href="./uikits/card.html">Card</a></li>
            <li><a href="./uikits/form.html">Form</a></li>
            <li><a href="./uikits/table.html">Table</a></li>
            <li><a href="./uikits/icons.html">Icons</a></li>
            <li class="line"></li>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Advanced Components</li>
            <li><a href="./uikits/pricing-table.html">Pricing Table</a></li>
            <li><a href="./uikits/timeline.html">Timeline</a></li>
            <li><a href="./uikits/chart.html">Chart</a></li>
          </ul>
        </div>
      </li>
       -->
    
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
    </ul>
  </div>
</aside>

<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
  <div class="dropdown-background">
    <div class="bg"></div>
  </div>
  <div class="dropdown-container">
    {{list}}
  </div>
</script>
<div class="app-container">
<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">Office</span> fundPaddy</a>
        </li>
        <li>
          <button type="button" class="navbar-toggle">
            <img class="profile-img" src="../assets/images/profile.png">
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-title"><span class="highlight"><%=yield :page_title %></span></li>
        <li class="navbar-search hidden-sm">
          <input id="search" type="text" placeholder="Search..">
          <button class="btn-search"><i class="fa fa-search"></i></button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown notification warning">
          <a href="<%=new_member_donation_path(current_member) %>" class="dropdown-toggle" data-toggle="">
            <div class="icon"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
            <div class="title">New Donation</div>
           <!--  <div class="count">0</div> -->
          </a>
          <div class="dropdown-menu">
            <ul>
              <li class="dropdown-header">Create Donation</li>
              <li class="dropdown-empty">Click on the button to Donate spare funds</li>
              <li class="dropdown-footer">
              <!--   <a href="#">View All <i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
              </li>
            </ul>
          </div>
        </li>
     <li class="dropdown notification danger">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="icon"><i class="fa fa-bell" aria-hidden="true"></i></div>
            <div class="title">Notifications</div>
            <div class="count">1</div>
          </a>
          <div class="dropdown-menu">
            <ul>
              <li class="dropdown-header">Messages</li>
              <li>
                <a href="#">
                  <span class="badge badge-warning pull-right">1</span>
                  <div class="message">
                    <img class="profile" src="https://placehold.it/100x100">
                    <div class="content">
                      <div class="title">"Welcome to fundPaddy..."</div>
                      <div class="description">the FundTeam</div>
                    </div>
                  </div>
                </a>
              </li>
             
              <li>
                <a href="#">
                  <span class="badge badge-warning pull-right">new</span>
                  <div class="message">
                    <img class="profile" src="https://placehold.it/100x100">
                    <div class="content">
                      <div class="title">"You can now get 200%.."</div>
                      <div class="description">the FundTeam</div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="dropdown-footer">
                <a href="#">View All <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </li>
      
        <li class="dropdown profile">
          <a href="/html/pages/profile.html" class="dropdown-toggle"  data-toggle="dropdown">

            <%= gravatar_for(current_member)%>
<!--             <img class="profile-img" src="./assets/images/profile.png">
 -->            <div class="title">Profile</div>
          </a>
          <div class="dropdown-menu">
            <div class="profile-info">
              <h4 class="username"><%=current_member.fullname%></h4>
            </div>
            <ul class="action">
              <li>
                <a href="<%=profile_path%>">
                  Profile
                </a>
              </li>
         
              <li>
                <%= link_to "Settings", office_settings_path %>
              </li>
              <% if member_signed_in? %>
                <li>
                  <%= link_to('Logout', destroy_member_session_path, :method => :delete) %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>




    <%= yield %>


 <footer class="app-footer"> 
  <div class="row">
    <div class="col-xs-12">
      <div class="footer-copyright">
        Copyright © 2017 fundPaddy Co,Ltd.
      </div>
    </div>
  </div>
</footer>
</div>
</div>



     <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        
         toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
   <% end %>

   

    
    <%= debug(params) if Rails.env.development? %>


<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93545926-1', 'auto');
  ga('send', 'pageview');

</script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/58c3345470cdfb0937ff0935/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
<!--End of Tawk.to Script-->


  </body>
</html>
